// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// 中文(简体) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_CHS)
LANGUAGE LANG_CHINESE, SUBLANG_NEUTRAL

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,1,1
 PRODUCTVERSION 0,1,1,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "BingtangXH"
            VALUE "FileDescription", "Start-up program manager for Windows RT"
            VALUE "FileVersion", "0.1.1.1"
            VALUE "InternalName", "Sparkborne"
            VALUE "LegalCopyright", "Copyright (C) 2026 BingtangXH."
            VALUE "OriginalFilename", "Sparkborne.exe"
            VALUE "ProductName", "Sparkborne"
            VALUE "ProductVersion", "0.1.1.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINMENU MENU
BEGIN
    POPUP "文件"
    BEGIN
        MENUITEM "退出",                          IDM_FILE_EXIT
    END
    POPUP "启动项"
    BEGIN
        MENUITEM "刷新",                          IDM_STARTUP_REFRESH
    END
    POPUP "帮助"
    BEGIN
        MENUITEM "更多我做的东西...",                  IDM_HELP_MORE_WORKS
        MENUITEM "关于…",                         IDM_HELP_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Sparkborne"
    IDS_MENU_FILE           "文件"
    IDS_MENU_EXIT           "退出"
    IDS_MENU_STARTUP        "启动项"
    IDS_MENU_REFRESH        "刷新"
    IDS_MENU_HELP           "帮助"
    IDS_MENU_MORE_WORKS     "更多我做的东西..."
    IDS_WINDOW_HINT         "在左侧列表中选择启动项可查看详情并执行操作。"
    IDS_ITEM_ENABLED        "已启用"
    IDS_ITEM_DISABLED       "已禁用"
    IDS_ITEM_TYPE_REGISTRY  "注册表"
END

STRINGTABLE
BEGIN
    IDS_ITEM_TYPE_SHORTCUT  "快捷方式"
    IDS_ITEM_DETAILS_FMT    "名称：%s\n类型：%s\n来源：%s\n路径/命令：%s\n状态：%s\n\n%s"
    IDS_ENABLE_ACTION       "是否启用该启动项？"
    IDS_DISABLE_ACTION      "是否禁用该启动项？"
    IDS_ERROR_TITLE         "Sparkborne"
    IDS_ACTION_FAILED_FMT   "操作失败：\n%s"
    IDS_WEB_WINDOW_TITLE    "更多我做的东西"
    IDS_REGISTRY_HKCU_RUN   "HKCU Run"
    IDS_REGISTRY_HKCU_DISABLED "HKCU -Run"
    IDS_REGISTRY_HKLM_RUN   "HKLM Run"
    IDS_REGISTRY_HKLM_DISABLED "HKLM -Run"
    IDS_COM_INIT_FAILED     "初始化 COM 运行时失败。"
    IDS_ATL_INIT_FAILED     "初始化 ATL ActiveX 宿主失败。"
    IDS_PANEL_ITEM_DETAILS_FMT "名称：%s\r\n类型：%s\r\n来源：%s\r\n路径/命令：%s\r\n状态：%s"
    IDS_PANEL_NO_SELECTION  "请在左侧列表中选择一个启动项。"
    IDS_BUTTON_ENABLE       "启用"
END

STRINGTABLE
BEGIN
    IDS_BUTTON_DISABLE      "禁用"
    IDS_BUTTON_DELETE       "删除"
    IDS_BUTTON_LAUNCH_NOW   "立即启动"
    IDS_CONFIRM_DELETE      "是否删除该启动项？"
    IDS_TOGGLING_HKLM_NEEDS_PRIVILEGE "修改 HKLM 条目需要管理员权限。"
END

#endif    // 中文(简体) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// 英语(美国) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINMENU MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Exit",                        IDM_FILE_EXIT
    END
    POPUP "Startup items"
    BEGIN
        MENUITEM "Refresh",                     IDM_STARTUP_REFRESH
    END
    POPUP "Help"
    BEGIN
        MENUITEM "More things made by me...",   IDM_HELP_MORE_WORKS
        MENUITEM "About...",                    IDM_HELP_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Sparkborne"
    IDS_MENU_FILE           "File"
    IDS_MENU_EXIT           "Exit"
    IDS_MENU_STARTUP        "Startup items"
    IDS_MENU_REFRESH        "Refresh"
    IDS_MENU_HELP           "Help"
    IDS_MENU_MORE_WORKS     "More things made by me..."
    IDS_WINDOW_HINT         "Select startup items from the left list to view details and actions."
    IDS_ITEM_ENABLED        "Enabled"
    IDS_ITEM_DISABLED       "Disabled"
    IDS_ITEM_TYPE_REGISTRY  "Registry"
END

STRINGTABLE
BEGIN
    IDS_ITEM_TYPE_SHORTCUT  "Shortcut"
    IDS_ITEM_DETAILS_FMT    "Name: %s\nType: %s\nSource: %s\nPath/Command: %s\nStatus: %s\n\n%s"
    IDS_ENABLE_ACTION       "Enable this startup item?"
    IDS_DISABLE_ACTION      "Disable this startup item?"
    IDS_ERROR_TITLE         "Sparkborne"
    IDS_ACTION_FAILED_FMT   "Operation failed:\n%s"
    IDS_WEB_WINDOW_TITLE    "More things made by me"
    IDS_REGISTRY_HKCU_RUN   "HKCU Run"
    IDS_REGISTRY_HKCU_DISABLED "HKCU -Run"
    IDS_REGISTRY_HKLM_RUN   "HKLM Run"
    IDS_REGISTRY_HKLM_DISABLED "HKLM -Run"
    IDS_COM_INIT_FAILED     "Failed to initialize COM runtime."
    IDS_ATL_INIT_FAILED     "Failed to initialize ATL ActiveX hosting."
    IDS_PANEL_ITEM_DETAILS_FMT 
                            "Name: %s\r\nType: %s\r\nSource: %s\r\nPath/Command: %s\r\nStatus: %s"
    IDS_PANEL_NO_SELECTION  "Select a startup item from the list on the left."
    IDS_BUTTON_ENABLE       "Enable"
END

STRINGTABLE
BEGIN
    IDS_BUTTON_DISABLE      "Disable"
    IDS_BUTTON_DELETE       "Delete"
    IDS_BUTTON_LAUNCH_NOW   "Launch now"
    IDS_CONFIRM_DELETE      "Delete this startup item?"
    IDS_TOGGLING_HKLM_NEEDS_PRIVILEGE 
                            "Toggling HKLM items needs administrator privilege."
END

#endif    // 英语(美国) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

